@font-face {
    font-family: "Montserrat";
    src: url("./fonts/fonts-montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/fonts-montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway/static/Raleway-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    
}

.header {
    background-color: #eff0f2;
    padding-bottom: 190px;
    position: relative;
}

.header__heading {
    margin-top: 185px;
    margin-bottom: 130px;
}

.header__heading h1 {
    text-align: center;
    text-transform: uppercase;
    color: #505050;
    font-size: 45px;
    line-height: 0.722;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    font-family: "Montserrat";
    font-weight: bold;
    padding: 15px;
}

.header__heading span {
    background-color: #b1f0ec;
}

.header__logo {
    border-width: 5.54px;
    border-color: rgb(23, 15, 28);
    border-style: solid;
    display: inline-block;
    margin-top: 45px;
    padding: 1px 17px 1px 17px;

    font-size: 17px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.647;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);
  }
  
  .header__logo span {
    color: #77efe5;
    font-size: 20px;
  }
  
  .header__contact-button {
    padding: 18px 45px;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: normal;
    color: rgba(0, 0, 0, 0.749);
    text-transform: uppercase;
    border-width: 2px;
    border-color: rgb(0, 0, 0, .7);
    border-style: solid;
    border-radius: 2px;
    opacity: 0.9;
    margin-left: 460px;
  }

  .header__cap-logo {
    position: absolute;
    bottom: 130px;
    right: 485px;
  }
  
  
  /*                  MAIN                           */
  /*----------------- ABOUT US ----------------------------------  */

  .main__about {
    background-color: #f8fafa;
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .main__section-header {
    font-size: 38px;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.737;
    text-align: center;
    padding: 10px;
  }

  .main__section-subheader {
    font-size: 18px;
    font-family: "Merriweather";
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    line-height: 1.556;
    text-align: center;
    padding: 5px;
  }
  
  .main__about-content {
    margin-top: 130px;
    display: flex;
    gap: 157px
  }

  .main__about-content-image {
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
  }

  .main__about-content-text {
    padding-right: 30px;
  }

  .main__about-content-paragraph {
    font-family: "Raleway";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.741);
    line-height: 1.75;
    padding-right: 46px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main__about-content-header1 {
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.749);
    margin-top: 0;
  }

  .main__about-content-header2 {
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.749);
    padding-top: 15px;
  }
  
  
  /* -------------------featured-works----------------------------- */

  .main__featured-works {
    padding-top: 130px;
    padding-bottom: 125px;
  }

  .main__section-subheader {
    margin-bottom: 120px;
  }

  .main__featured-works-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

/* ------------------------------- small-team ----------------------------------- */

  .main__small-team {
    /* background-color: #f9fbfb; */
    padding-top: 100px;
  }

  .main__small-team-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .small-team__image--active {
    position: relative;
  }

  .image-wrapper {
    position: relative;
  }

  .image-info {
    position: absolute;
    width: 330px;
    height: 240px;
    top: 186px;
    left: 15px;
    background-color: #70f6eb;
    padding: 35px;
    box-sizing: border-box;
    box-shadow: 0px 7px 16px 0px rgba(20, 20, 21, 0.18);
  }

  .image-info__header p {
    display: inline;
  }

  .image-info__name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }

  .image-info__work {
    font-style: italic;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
  }

  .image-info__content {
    font-family: "Raleway";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 27px;
  }

  .image-info img {
    padding-left: 4px;
  }

  .triangle {
    position: absolute;
    top: -20px;
    left: 25px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 26px solid #70f6eb;
  }

  /* ---------------------------------- FOOTER ------------------------------------------- */

  .footer {
    padding-top: 300px;
    background-color: rgb(248, 250, 251);
    opacity: 0.671;
    background-image: url("./images/forest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 125px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .footer__contact-form {
    background-color: rgb(30, 57, 75, 0.9);
  }

  .footer__map {
    background-color: rgb(30, 57, 75, 0.9);
  }



  .subfooter {
    background-color: #262b2e;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .subfooter__images {
    padding-left: 460px;
    padding-right: 340px;
    padding-top: 15px;
  }
  .subfooter__images img {
  padding: 2px;
}

  .subfooter h4 {
    font-size: 16px;
    font-family: "Raleway";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.563;
    text-align: center;
    margin: 0;
  } 

  

  
  