@font-face {
    font-family: "Montserrat";
    src: url("./fonts/fonts-montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/fonts-montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway/static/Raleway-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #eff0f2;
    padding-bottom: 190px;
    position: relative;
}

.header__heading {
    margin-top: 185px;
    margin-bottom: 130px;
}

.header__heading h1 {
    text-align: center;
    text-transform: uppercase;
    color: #505050;
    font-size: 45px;
    line-height: 0.722;
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    font-family: "Montserrat";
    font-weight: bold;
    padding: 15px;
}

.header__heading span {
    background-color: #b1f0ec;
}

.header__logo {
    border-width: 5.54px;
    border-color: rgb(23, 15, 28);
    border-style: solid;
    display: inline-block;
    margin-top: 45px;
    padding: 1px 17px 1px 17px;

    font-size: 17px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.647;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(21, 21, 22, 0.75);
  }
  
  .header__logo span {
    color: #77efe5;
    font-size: 20px;
  }
  
  .header__contact-button {
    padding: 18px 45px;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: normal;
    color: rgba(0, 0, 0, 0.749);
    text-transform: uppercase;
    border-width: 2px;
    border-color: rgb(0, 0, 0, .7);
    border-style: solid;
    border-radius: 2px;
    opacity: 0.7;
    margin-left: 460px;
  }

  .header__contact-button:hover {
    background-color: rgb(119, 150, 236);
    color: white;
    transition: .3s;
  }

  .header__cap-logo {
    position: absolute;
    bottom: 130px;
    right: 485px;
  }
  
  
  /*                  MAIN                           */
  /*----------------- ABOUT US ----------------------------------  */

  .main__about {
    background-color: #f8fafa;
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .main__section-header {
    font-size: 38px;
    font-family: "Montserrat";
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.737;
    text-align: center;
    padding: 10px;
  }

  .main__section-subheader {
    font-size: 18px;
    font-family: "Merriweather";
    color: rgba(0, 0, 0, 0.62);
    text-transform: uppercase;
    line-height: 1.556;
    text-align: center;
    padding: 5px;
  }
  
  .main__about-content {
    margin-top: 130px;
    display: flex;
    gap: 157px
  }

  .main__about-content-image {
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
  }

  .main__about-content-text {
    padding-right: 30px;
  }

  .main__about-content-paragraph {
    font-family: "Raleway";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.741);
    line-height: 1.75;
    padding-right: 46px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main__about-content-header1 {
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.749);
    margin-top: 0;
  }

  .main__about-content-header2 {
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.749);
    padding-top: 15px;
  }
  
  
  /* -------------------featured-works----------------------------- */

  .main__featured-works {
    padding-top: 130px;
    padding-bottom: 125px;
    /* position: relative; */
  }

  .main__section-subheader {
    margin-bottom: 120px;
  }

  .main__featured-works-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .featured-works__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
  }

  .featured-works__modal-close {
    position: absolute;
    top: 35px;
    right: 75px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s; 
  }

  .featured-works__modal-close:hover,
  .featured-works__modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .featured-works__modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  .modal-content-active {
    z-index: 10;
    width: 40%;
    height: 70%;
    position: fixed;
    top: 150px;
    left: 550px;
    /* margin: auto; */
  }

/* ------------------------------- small-team ----------------------------------- */

  .main__small-team {
    padding-top: 100px;
  }

  .main__small-team-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .image-wrapper {
    position: relative;
  }

  .image-info {
    display: none;
    position: absolute;
    width: 330px;
    height: 240px;
    top: 186px;
    left: 15px;
    background-color: #70f6eb;
    padding: 35px;
    box-sizing: border-box;
    box-shadow: 0px 7px 16px 0px rgba(20, 20, 21, 0.18);
  }

  .image-wrapper:hover .image-info {
    display: block;
  }

  .image-info__header p {
    display: inline;
  }

  .image-info__name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }

  .image-info__work {
    font-style: italic;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
  }

  .image-info__content {
    font-family: "Raleway";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 27px;
  }

  .image-info img {
    padding-left: 4px;
  }

  .triangle {
    position: absolute;
    top: -20px;
    left: 25px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 26px solid #70f6eb;
  }

  /* ---------------------------------- FOOTER ------------------------------------------- */

  .footer {
    padding-top: 300px;
    background-color: rgb(248, 250, 251);
    opacity: 0.671;
    background-image: url("./images/forest.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 125px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 40px;
  }
  .footer__contact-form {
    background-color: rgb(30, 57, 75, 0.9);
    padding-bottom: 39px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 39px;
    flex-basis: 60%;
  }

  .footer__contact-form-input {
    border-bottom: 1px solid #606d76;
    width: 100%;
  }

  .footer__contact-form-label {
      font-size: 15px;
      font-family: "Raleway";
      color: rgba(255, 255, 255, 0.6);
      line-height: 3.4;
      padding-right: 20px;
    }

    .form-input {
      width: 80%;
      height: 40px;
      background-color: rgb(30, 57, 75, .1);
      border: none;
    }

    .form-textarea {
      width: 80%;
      background-color: rgb(30, 57, 75, .1);
      resize: none;
      vertical-align: top;
      border: none;
      height: 120px;
    }

    .last-field-input {
      margin-bottom: 40px;
    }

  .footer__map {
    padding: 20px 23px;
  }

  .footer__map > p:nth-child(4) {
    margin-bottom: 27px;
  }

  .footer__map-image {
    margin-top: 20px;
  }
   
  .footer__map-text {
      font-size: 15px;
      font-family: "Raleway";
      color: rgba(255, 255, 255, 0.702);
      line-height: 1.6;
    }

  .footer__map > iframe {
    padding-top: 10px;
  }

  input:focused {
    border: none;
  }

  .form-submit {
    font-family: "Montserrat";
    font-weight: 400;
    color: #214744;
    background-color: #77ece2;
    padding: 20px 38px;
    font-size: 18px;
    border-radius: 3px;
    border: none;
  }

  .form-submit:hover {
    background-color: rgb(99, 96, 121);
    color: rgb(29, 27, 27);
    transition: .3s;
  }

  .footer__map {
    background-color: rgb(30, 57, 75, 0.9);
  }



  .subfooter {
    background-color: #262b2e;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    align-items: center;
  }

  .subfooter__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
  }

  .subfooter__images-item {
    width: 45px;
    height: 40px;
    background-color: #424648;
    padding-left: 14px;
    padding-top: 10px;
  }

  .subfooter__images-item:hover {
    background-color: #6eeee4;
    fill: #262b2e;
  }

  .subfooter__images-item:hover .subfooter__images-svg path {
    /* background-color: #6eeee4; */
    fill: #262b2e;
  }

  .subfooter__images-svg path {
    fill: #bbb8b9;
  }

  /* .subfooter__images-svg path:hover {
    
      fill: black;
    
  } */

  .subfooter h4 {
    font-size: 16px;
    font-family: "Raleway";
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.563;
    text-align: center;
    margin: 0;
  } 

  
@media screen and (max-width: 1420px) {
  .header__cap-logo {
    display: none;
  }
  header {
    display: flex;
    justify-content: center;
  }
  .header__contact-button {
    display: block;
    margin: 0 auto;
  }
  .header__heading h1 {
    line-height: 1.0em;
  }
  .header__logo {
    display: block;
    width: 150px;
    margin: 45px auto;
  }
}

@media screen and (max-width: 1100px) {
  .main__about {
    display: flex;
    justify-content: center;
  }
  .main__about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .main__about-content-text {
    padding: 10px;
  }
  .main__about-content-image {
    max-width: 700px;
  }
  .main__featured-works {
    display: flex;
    justify-content: center;
  }
  .main__featured-works-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main__small-team {
    display: flex;
    justify-content: center;
  }
  .main__small-team-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-wrapper {
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-content: space-around;
  }
  .footer__contact-form {
    width: 80%;
    margin: 0 auto;
  }
  .footer__map {
    width: 80%;
    margin: 0 auto;
  }
  .footer__map > iframe {
    width: 100%;
  }
}
  
  